@page "/"

<h1>Hello, world!</h1>

Welcome to your new app.

@if (!HasProjects)
{
    <p><em>Loading...</em></p>
}
else
{
    @foreach(var projectName in ProjectNames)
    {
        <br>
        <a href="/project/@projectName">@projectName</a>
    }
}