@page "/"
@inject HttpClient Http

<h1>Hello, world!</h1>

Welcome to your new app.

@if (!HasProjects)
{
    <p><em>Loading...</em></p>
}
else
{
    @foreach(var project in Projects)
    {
        <p>@project.Id</p>
    }
}