@page "/"

<h1>Hello, world!</h1>

Welcome to your new app.

@if (!HasProjects)
{
    <p><em>Loading...</em></p>
}
else
{
    @foreach(var project in Projects)
    {
        <br>
        <a href="/project/@project.Id">@project.Name</a>
    }
}