 @page "/playtest/{Title}"

<h3>@Title</h3>

@if (!HasData)
{
    <p><em>Loading...</em></p>
}
else
{
    <table>
      <thead>
        <tr>
          <th>Active</th>
          <th>Name</th>
          <th>Version</th>
          <th>Research Question</th>
          <th>Description</th>
        </tr>
      </thead>
      <tbody>
    @foreach(var project in Data)
    {
        <tr>
          <td>@project.StartTime</td>
        </tr>
    }
      </tbody>
    </table>
}