@page "/"

<h1>Hello, world!</h1>

Welcome to your new app.

@if (!HasProjects)
{
    <p><em>Loading...</em></p>
}
else
{
    @foreach(var projectName in ProjectNames)
    {
        <br>
        <button class="btn btn-primary" @onclick="() => NavigateTo(projectName)">@projectName</button>
    }
}