@page "/"

<h1>Play Test Toolkit</h1>

Projects with play tests

@if (!HasProjects)
{
    <p><em>Loading...</em></p>
}
else
{
    @foreach(var projectName in ProjectNames)
    {
        <br>
        <button class="btn btn-primary" @onclick="() => NavigateTo(projectName)">@projectName</button>
    }
}